.title__cards {
    margin-top: 50px;
    margin-bottom: 30px;
}

.title__cards h2 {
    margin-bottom: 8px;
    margin-left: 40px;
}

.card__list {
    display: flex;
    gap: 10px;
    margin-left: 40px;
    overflow-x: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
    scroll-behavior: smooth;
}

.card__list img {
    width: 240px;
    border-radius: 4px;
    cursor: pointer;
}

.card__list .card {
    position: relative;
    scroll-snap-align: start;
    flex-shrink: 0;
}

.card__list .card p {
    position: absolute;
    bottom: 10px;
    right: 10px;
    text-decoration: none;
    color: white;
}

@media (max-width: 800px) {
    .title__cards {
        margin-top: 20px;
        margin-bottom: 0;
    }

    .title__cards h2 {
        font-size: 20px;;
    }

    .card__list img {
        width: 200px;
    }

    .card__list p {
        font-size: 12px;
    }
}

@media (max-width: 500px) {
   
    .title__cards h2 {
        font-size: 15px;
    }

    .card__list img {
        width: 165px;
    }

    .card__list p {
        font-size: 10px;
    }
}