.title__cards {
    margin-top: 50px;
    margin-bottom: 30px;
}

.title__cards h2 {
    margin-bottom: 8px;
    margin-left: 40px;
}

.card__list {
    display: flex;
    gap: 10px;
    margin-left: 40px;
    overflow-x: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
    scroll-behavior: smooth;
}

/* .card__list::-webkit-scrollbar {
    display: none;
} */

.card__list img {
    width: 240px;
    border-radius: 4px;
    cursor: pointer;
}

.card__list .card {
    position: relative;
    scroll-snap-align: start;
    flex-shrink: 0;
}

.card__list .card p {
    position: absolute;
    bottom: 10px;
    right: 10px;
}