.landing {
  position: relative;
}

.banner__img {
  width: 100%;
  mask-image: linear-gradient(to right, transparent, black 75%);
  -weblit-mask-image: linear-gradient(to right, transparent, black 75%);
}

.landing__caption {
  position: absolute;
  width: 100%;
  padding-left: 6%;
  bottom: 0;
}

.caption__img {
  width: 90%;
  max-width: 420px;
  margin-bottom: 30px;
}

.landing__caption {
  max-width: 700px;
  font-size: 17px;
  margin-bottom: 20px;
}

.landing__btns {
  display: flex;
  gap: 10px;
  margin-bottom: 50px;
}

.landing__btns .btn img {
  width: 25px;
}

.landing__btns .btn {
  border: 0;
  outline: 0;
  padding: 8px;
  display: inline-flex;
  align-items: center;
  gap: 10px;
  font-size: 15px;
  font-weight: 600;
  background: white;
  border-radius: 4px;
  cursor: pointer;
}

.landing__btns .btn.dark-btn {
   color: #fff;
   background: #6d6d6eb3; 

}

.landing__btns .btn:hover {
    background: #ffffffbf;

}

.landing__btns .btn.dark-btn:hover {
    background: #6d6d6e66;
}
