.navbar {
    width: 100%;
    padding: 20px 6%;
    display: flex;
    justify-content: space-between;
    position: fixed;
    font-size: 14px;
    color: #e5e5e5;
    background-image: linear-gradient(180deg,
            rgba(0, 0, 0, 0.7) 10%,
            transparent);
    z-index: 1;
    transition: 0.3s;
}

.navbar__left {
    display: flex;
    align-items: center;
    gap: 50px;
}

.navbar__left img {
    width: 90px;
}

.navbar__left ul {
    display: flex;
    list-style-type: none;
    gap: 20px;
}

.navbar__left ul li {
    cursor: pointer;
    position: relative;
}

.navbar__left ul li::after {
    content: '';
    position: absolute;
    bottom: -4px;
    left: 50%;
    width: 0;
    height: 2px;
    background-color: #e50914;
    transition: width 0.3s ease, left 0.3s ease;
}

.navbar__left ul li:hover::after {
    width: 100%;
    left: 0;
}

.navbar__right {
    display: flex;
    gap: 20px;
    align-items: center;
}

.navbar__right .icons {
    width: 25px;
    cursor: pointer;
}

.navbar__right .profile {
    border-radius: 4px;
    width: 45px;
}

.navbar__profile {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    position: relative;
}

.navbar .dropdown {
    position: absolute;
    top: 100%;
    right: 0;
    width: max-content;
    background: #191919;
    padding: 18px 22px;
    border-radius: 2px;
    text-decoration: underline;
    z-index: 1;
    display: none;
}

.navbar .dropdown p {
    font-size: 13px;
    cursor: pointer;
}

.navbar__profile:hover .dropdown {
    display: block;
}

.nav__dark {
    background: #141414;
}

@media (max-width: 800px) {
    .navbar {
        padding: 20px 4%;
    }

    .navbar__left ul {
        display: none;
    }

    .navbar img {
        height: 25px;
    }
}

@media (max-width: 500px) {
    .navbar img {
        height: 20px;
    }

    .navbar__right {
        gap: 10px;
    }
}